doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title certificados bootcamp nodeCo
    body
        .content
          block content

        footer
            .container
                p.right-align Copyright &copy; 2019 by nodeCo
        