extends ../layout.pug

block content
  .home
    h1 hola desde home
    h2 #{variable}
    form(action="/certificados/bootcamp-2019", method="get")
      label(for="email") Ingresa tu e-mail
      input(type="email" name="email" id="email")